/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Navigation Bar */
.navigation {
    background-color: transparent;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 90%;
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.nav-links li a:hover {
    color: #ffc107;
}

/* Main content container */
.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://cdn.builder.io/api/v1/image/assets/TEMP/caeb44bb2517a9b3d35b19110e27960f30370bb791492a23fdaa7188dd78d1fb?apiKey=c955fab17579493e99f69624394ae9bb&");
    background-size: cover;
    background-position: center;
}

.input-container,
.result-container {
    width: 80%;
    max-width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
}

@media (max-width: 600px) {
    .content-container {
        flex-direction: column;
    }
    .input-container,
    .result-container {
        width: 90%;
    }
}

/* Input container styles */
.input-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.input-container input[type="file"] {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    transition: background-color 0.3s ease;
}

.input-container input[type="file"]:hover {
    background-color: #e0e0e0;
}

.image-placeholder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

.image-placeholder img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#processButton {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #15d39a;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#processButton:hover {
    background-color: #1a8170;
}

/* Result container styles */
.result-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.result-box {
    width: calc(100% - 20px);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.result-box h3 {
    margin-top: 0;
}

.result-box p {
    margin-bottom: 0;
}

.custom-icon {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 130px;
}

.custom-icon img {
    width: 50px;
    height: 50px;
    pointer-events: none;
}

.custom-icon:hover {
    background-color: #f0f0f0;
}

.custom-icon input[type="file"] {
    display: none;
}

.input-container input[type="file"] {
    display: none;
}

#imageDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    border: 2px dashed #ccc;
    border-radius: 10px;
}

#imageDisplay img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#processButton {
    margin-top: 10px;
    display: block;
}

/* Login Page styles */
body-login {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.builder.io/api/v1/image/assets/TEMP/caeb44bb2517a9b3d35b19110e27960f30370bb791492a23fdaa7188dd78d1fb?apiKey=c955fab17579493e99f69624394ae9bb&");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sign-in-form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sign-in-form h2 {
    margin-top: 0;
}

.sign-in-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.sign-in-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.sign-in-form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sign-in-form button:hover {
    background-color: #555;
}
