/* image-input.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navigation {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.logo:hover {
    color: #ffc107;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ffc107;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://cdn.builder.io/api/v1/image/assets/TEMP/caeb44bb2517a9b3d35b19110e27960f30370bb791492a23fdaa7188dd78d1fb?apiKey=c955fab17579493e99f69624394ae9bb&"); /* Specify the path to your background image */
    background-size: cover;
    background-position: center;
}

.input-container, .result-container {
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container input {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
}

#imageDisplay {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #333;
}
