/* login.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.builder.io/api/v1/image/assets/TEMP/caeb44bb2517a9b3d35b19110e27960f30370bb791492a23fdaa7188dd78d1fb?apiKey=c955fab17579493e99f69624394ae9bb&"); /* Specify the path to your background image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sign-in-form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sign-in-form h2 {
    margin-top: 0;
}

.sign-in-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.sign-in-form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sign-in-form button:hover {
    background-color: #555;
}
